SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_CAPACITY}=="1[0-4]" RUN+="/etc/powersave.sh normal"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_CAPACITY}=="[5-9]", RUN+="/etc/powersave.sh lowpower"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_CAPACITY}=="[0-4]", RUN+="/etc/powersave.sh critical"
